<div
  *ngIf="isOpened"
  class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-10">
  <div
    class="bg-primaryLight dark:bg-primaryDark text-black dark:text-white p-6 rounded relative w-96">
    <button class="absolute top-2 right-2" (click)="handleToggleModal()">
      <span class="material-symbols-outlined"> close </span>
    </button>
    <h6 class="text-xl font-bold mb-4">
      {{ target === 'Add' ? 'Create New' : target }} Task
      {{ task?.title ? ' - ' + task?.title : '' }}
    </h6>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="title" class="block text-sm font-medium">Title</label>
        <input
          type="text"
          id="title"
          formControlName="title"
          [attr.disabled]="target === 'View'"
          [ngClass]="{ 'resize-none cursor-not-allowed': target === 'View' }"
          class="mt-1 block w-full px-3 py-2 border border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm dark:bg-tertiaryDark bg-tertiaryLight" />
      </div>
      <div class="mb-4">
        <label for="description" class="block text-sm font-medium"
          >Description</label
        >
        <textarea
          id="description"
          formControlName="description"
          [attr.disabled]="target === 'View'"
          maxlength="300"
          [ngClass]="{ 'resize-none cursor-not-allowed': target === 'View' }"
          class="mt-1 block w-full px-3 py-2 border border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm dark:bg-tertiaryDark bg-tertiaryLight"></textarea>
      </div>
      <div class="mb-4" *ngIf="target !== 'Add'">
        <label for="status" class="block text-sm font-medium">Status</label>
        <input
          type="text"
          id="status"
          [attr.value]="task?.completed ? 'completed' : 'incompleted'"
          [attr.disabled]="true"
          class="cursor-not-allowed mt-1 block w-full px-3 py-2 border border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm dark:bg-tertiaryDark bg-tertiaryLight" />
      </div>
      <div class="mb-4" *ngIf="target !== 'Add'">
        <label for="created_at" class="block text-sm font-medium"
          >Created At:
        </label>
        <input
          type="text"
          id="created_at"
          [attr.value]="task?.created_at | date: 'medium'"
          [attr.disabled]="true"
          class="cursor-not-allowed mt-1 block w-full px-3 py-2 border border-gray-700 rounded-md shadow-sm focus:outline-none focus:ring-primary focus:border-primary sm:text-sm dark:bg-tertiaryDark bg-tertiaryLight" />
      </div>
      <div class="flex justify-center" *ngIf="target !== 'View'">
        <button type="submit" class="submit-button text-white">
          {{ target === 'Add' ? 'Create' : 'Save' }}
        </button>
      </div>
    </form>
  </div>
</div>
