<div
  class="min-h-screen flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div class="flex justify-center items-center">
      <h2 class="text-textDark dark:text-white">Register</h2>
    </div>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="mt-8 space-y-6">
      <div class="rounded-md">
        <div>
          <label for="name" class="sr-only">Name</label>
          <input
            id="name"
            name="name"
            type="text"
            formControlName="name"
            required
            class="custom-input relative block w-full px-4 py-3 sm:text-sm bg-inputBackgroundLight dark:bg-inputBackgroundDark text-black dark:text-white rounded-t-md"
            placeholder="name" />
        </div>
        <div>
          <label for="email" class="sr-only">Email</label>
          <input
            id="email"
            name="email"
            type="text"
            formControlName="email"
            required
            class="custom-input my-2 relative block w-full px-4 py-3 sm:text-sm bg-inputBackgroundLight dark:bg-inputBackgroundDark text-black dark:text-white rounded-t-md"
            placeholder="Email" />
        </div>
        <div class="relative">
          <label for="password" class="sr-only">Password</label>
          <input
            id="password"
            name="password"
            [type]="showPassword ? 'text' : 'password'"
            formControlName="password"
            required
            (input)="onPasswordChange()"
            class="custom-input my-2 relative block w-full px-4 py-3 sm:text-sm bg-inputBackgroundLight dark:bg-inputBackgroundDark text-black dark:text-white rounded-b-md"
            placeholder="Password" />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
            <span
              class="material-symbols-outlined custom-icon"
              *ngIf="showPassword"
              >visibility_off</span
            >
            <span
              class="material-symbols-outlined custom-icon"
              *ngIf="!showPassword"
              >visibility</span
            >
          </button>
        </div>
        <div class="mt-2" *ngIf="passwordStrength !== 0">
          <div class="flex items-center">
            <div class="w-3/12 bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
              <div
                class="bg-blue-600 h-2.5 rounded-full"
                [style.width]="passwordStrength + '%'"></div>
            </div>
            <span
              class="ml-2 text-sm"
              [ngClass]="{
                'text-red-500': passwordStrength < 33,
                'text-yellow-500':
                  passwordStrength >= 33 && passwordStrength < 66,
                'text-green-500': passwordStrength >= 66,
              }">
              {{ passwordStrengthText }}
            </span>
          </div>
        </div>
        <div class="relative mt-4">
          <label for="confirmPassword" class="sr-only">Confirm Password</label>
          <input
            id="confirmPassword"
            name="confirm_password"
            [type]="showConfirmPassword ? 'text' : 'password'"
            formControlName="confirm_password"
            required
            (input)="onPasswordChange()"
            class="custom-input my-2 relative block w-full px-4 py-3 sm:text-sm bg-inputBackgroundLight dark:bg-inputBackgroundDark text-black dark:text-white rounded-b-md"
            placeholder="Confirm Password" />
          <button
            type="button"
            (click)="toggleConfirmPasswordVisibility()"
            class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5">
            <span
              class="material-symbols-outlined custom-icon"
              *ngIf="showConfirmPassword"
              >visibility_off</span
            >
            <span
              class="material-symbols-outlined custom-icon"
              *ngIf="!showConfirmPassword"
              >visibility</span
            >
          </button>
        </div>

        <div *ngIf="showPasswordMatch" class="mt-2 text-sm">
          <p *ngIf="passwordsMatch" class="text-green-500">Passwords match</p>
          <p *ngIf="!passwordsMatch" class="text-red-500">
            Passwords do not match
          </p>
        </div>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="registerForm.invalid"
          class="submit-button text-white dark:text-black group relative w-full flex justify-center py-2 px-4 disabled:cursor-not-allowed">
          Register
        </button>
      </div>

      <div class="flex items-center justify-end items-end mt-6">
        <p class="text-right text-textInfo">
          Already have a account?
          <a
            class="text-primary hover:text-secondaryDarkHover text-secondaryDark cursor-pointer"
            routerLink="/login">
            Login.
          </a>
        </p>
      </div>
    </form>
  </div>
</div>
